@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
  padding: 20px;
}
.employees-title{
  text-align: center;
  margin: 10px;
  color: blue;
}
header {
  text-align: center;
  margin-bottom: 20px;
  
}
#cancelBtn{
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: red;
}
header h1 {
  color: #0077ff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

#searchInput {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#addEmployeeBtn,
.export-btn {
  background-color: #0077ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.export-btn {
  background-color: #1b9b41;
}

#addEmployeeBtn:hover {
  background-color: #005fd1;
}

.export-btn:hover {
  background-color: #147b32;
}

.table-container {
  overflow-x: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #0077ff;
  color: white;
}

.action-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background-color: #28a745;
  color: #fff;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.edit-btn:hover {
  background-color: #1d8836;
}

.delete-btn:hover {
  background-color: #b02a37;
}

.form-container {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  max-width: 500px;
  margin: 30px auto;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button[type="submit"] {
  background-color: #0077ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #999;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}



